body{
   background-color: #000000;
   }
   h1{
      color: yellow;
      text-align: Center;
   }
   h2{
      color: white;
      text-align: Center;
   }
   ut{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: gray;
}

   li{
      float: left;
      
}
   li{
      display: block;
      color: white;
      text-align: center;
      padding: 14 px 16 px;
      text decoration: none;
      
}

/*change the link color to #111 (black) on hover*/li
li a:hover {
   background-color: #111;
}

   p{
    font-family: Verdana, Geneva, Sans-serif;
    font-size: 18 px;
    color: gray;
    }
